*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 1440px) {
  html {
    font-size: 36px;
  }
}

:root {
  --clr-bg: repeating-linear-gradient(
    180deg,
    #f6f1ff 0%,
    #f8f2ff 15%,
    #f6f1ff 30%
  );

  --clr-primary: #6900aa;
  --clr-primary-dark: #400565;

  --section-padding: 1rem;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border-radius: 20px;
}

h1,
h2,
h3,
p,
span {
  line-height: 1.6em;
}

body {
  background: var(--clr-bg);
  max-width: 100vh;
  overflow-x: hidden;
  font-size: 1.25rem;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 100px;
}

@media (max-width: 576px) {
  #navbar > * {
    display: none;
  }
  h2 {
    font-size: 24px;
  }
}

section:not(#projects) {
  padding-inline: var(--section-padding);
  margin-bottom: 5rem;
}

#welcome-section {
  height: 100vh;
  color: var(--clr-primary);
  /* font-size: 1.15em; */
  text-align: center;
}

#welcome-section .text-name {
  font-size: 2em;
}

#about p {
  text-align: justify;
}

#about #cv-link {
  margin-inline: auto;
  min-width: 65%;
  text-align: center;
  padding-block: 0.75em;
}

.button {
  border: none;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
}

.button-dark {
  color: white;
  background-color: var(--clr-primary);
}

.button-light {
  color: var(--clr-primary);
  background-color: transparent;
  padding-block: calc(0.5em - 1px);
  border: 1px solid var(--clr-primary);
}

@media (max-width: 576px) {
  .button {
    display: block;
    width: fit-content;
    margin-inline: auto;
    text-align: center;
  }
}

.button svg {
  display: inline;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.project-tile {
  width: 100%;
  height: min(400px, 70vh);
  background: linear-gradient(
    139.8deg,
    #ffe6fe 1.24%,
    rgba(239, 239, 239, 0.921875) 20.14%,
    rgba(249, 238, 249, 0.71875) 48.04%,
    #ffe4ff 87.64%
  );
  backdrop-filter: blur(12.5px);
  overflow: scroll hidden;
  gap: 1.25rem;
  padding: 2em 1em;
  flex-wrap: nowrap;
}

@media (max-width: 576px) {
  #projects {
    flex-direction: column;
  }
}

.project-card {
  flex-direction: column;
  background-color: white;
  height: min(300px, 80%); /* min-height / height ?*/
  min-width: 55%;
  filter: drop-shadow(0px 0px 5px rgba(73, 79, 239, 0.27));
  border-radius: 0% 0% 10px 10px;
}

.card-footer {
  margin-top: 1em;
}

.project-img {
  width: 100%;
  max-height: 70%;
  object-fit: cover;
  object-position: top;
}

/* utility class */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.container {
  display: flex !important;
}

.container-center {
  justify-content: center;
  align-items: center;
}

.dir-default {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center !important;
}

.flex-align-center {
  align-items: center !important;
}

.flex-align-end {
  align-items: flex-end;
}

.start {
  justify-content: flex-start;
}

.gap-1 {
  gap: 1em;
}

.gap-0-75 {
  gap: 0.75em;
}

.gap-0-5 {
  gap: 0.5em;
}

.mb-0-5 {
  margin-bottom: 0.5em;
}

.mb-0-75 {
  margin-bottom: 0.75em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.text-center {
  text-align: center;
}

.cursive {
  font-family: "Croissant One", cursive;
}

.primary-clr {
  color: var(--clr-primary);
}

.primary-dark-clr {
  color: var(--clr-primary-dark);
}
